In [5]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib as mylib
# ingesting the file

df=pd.read_csv(r"C:\Users\Rohit_Pandey1\Desktop\IITB\Lending Use Case\loan.csv")
df.head()

C:\Users\Rohit_Pandey1\AppData\Local\Temp\ipykernel_27260\1781223180.py:7: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\Rohit_Pandey1\Desktop\IITB\Lending Use Case\loan.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [2]:
100*df.isnull().mean()
# analyzing the data for data cleaning

id                              0.000000
member_id                       0.000000
loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
                                 ...
tax_liens                       0.098195
tot_hi_cred_lim               100.000000
total_bal_ex_mort             100.000000
total_bc_limit                100.000000
total_il_high_credit_limit    100.000000
Length: 111, dtype: float64

In [6]:
# data cleaning the ingested file
df1=df.drop("num_tl_90g_dpd_24m", axis=1)
df1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_30dpd,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [7]:
df1=df.drop("num_tl_30dpd", axis=1)
df1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [8]:
df2=df.drop("num_tl_90g_dpd_24m", axis =1)
df2.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_30dpd,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [9]:
df3=df.drop("tot_hi_cred_lim", axis=1)
df3.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [10]:
df4=df.drop("num_tl_30dpd", axis=1)
df4.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [11]:
df5=df.drop("num_tl_90g_dpd_24m", axis=1)
df5.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_30dpd,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [14]:
df5.head().T
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 110 entries, id to total_il_high_credit_limit
dtypes: float64(73), int64(13), object(24)
memory usage: 33.3+ MB

In [13]:
100*df5.isnull().mean()

id                              0.000000
member_id                       0.000000
loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
                                 ...
tax_liens                       0.098195
tot_hi_cred_lim               100.000000
total_bal_ex_mort             100.000000
total_bc_limit                100.000000
total_il_high_credit_limit    100.000000
Length: 110, dtype: float64

In [2]:
df5=df.drop("NA", axis=1)
df5.head()

NameError: name 'df' is not defined

In [3]:
df5 = df5.dropna(axis=1, how='all')
df5.head()

NameError: name 'df5' is not defined

In [6]:
df1 = df1.dropna(axis=1, how='all')
df1.head()

NameError: name 'df1' is not defined

In [7]:
df = df.dropna(axis=1, how='all')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [8]:
df.head().T

,0,1,2,3,4
id,1077501,1077430,1077175,1076863,1075358
member_id,1296599,1314167,1313524,1277178,1311748
loan_amnt,5000,2500,2400,10000,3000
funded_amnt,5000,2500,2400,10000,3000
funded_amnt_inv,4975.0,2500.0,2400.0,10000.0,3000.0
term,36 months,60 months,36 months,36 months,60 months
int_rate,10.65%,15.27%,15.96%,13.49%,12.69%
installment,162.87,59.83,84.33,339.31,67.79
grade,B,C,C,C,B
sub_grade,B2,C4,C5,C1,B5
emp_title,NaN,Ryder,NaN,AIR RESOURCES BOARD,University Medical Group
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,24000.0,30000.0,12252.0,49200.0,80000.0
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified
issue_d,Dec-11,Dec-11,Dec-11,Dec-11,Dec-11
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Current
pymnt_plan,n,n,n,n,n
url,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...
desc,Borrower added on 12/22/11 > I need to upgra...,Borrower added on 12/22/11 > I plan to use t...,NaN,Borrower added on 12/21/11 > to pay for prop...,Borrower added on 12/21/11 > I plan on combi...
purpose,credit_card,car,small_business,other,other
title,Computer,bike,real estate business,personel,Personal
zip_code,860xx,309xx,606xx,917xx,972xx
addr_state,AZ,GA,IL,CA,OR
dti,27.65,1.0,8.72,20.0,17.94
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Jan-85,Apr-99,Nov-01,Feb-96,Jan-96
inq_last_6mths,1,5,2,1,0
mths_since_last_delinq,NaN,NaN,NaN,35.0,38.0
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,3,3,2,10,15
pub_rec,0,0,0,0,0
revol_bal,13648,1687,2956,5598,27783
revol_util,83.70%,9.40%,98.50%,21%,53.90%
total_acc,9,4,10,37,38
initial_list_status,f,f,f,f,f
out_prncp,0.0,0.0,0.0,0.0,524.06
out_prncp_inv,0.0,0.0,0.0,0.0,524.06
total_pymnt,5863.155187,1008.71,3005.666844,12231.89,3513.33
total_pymnt_inv,5833.84,1008.71,3005.67,12231.89,3513.33
total_rec_prncp,5000.0,456.46,2400.0,10000.0,2475.94
total_rec_int,863.16,435.17,605.67,2214.92,1037.39
total_rec_late_fee,0.0,0.0,0.0,16.97,0.0
recoveries,0.0,117.08,0.0,0.0,0.0
collection_recovery_fee,0.0,1.11,0.0,0.0,0.0
last_pymnt_d,Jan-15,Apr-13,Jun-14,Jan-15,May-16
last_pymnt_amnt,171.62,119.66,649.91,357.48,67.79
next_pymnt_d,NaN,NaN,NaN,NaN,Jun-16
last_credit_pull_d,May-16,Sep-13,May-16,Apr-16,May-16
collections_12_mths_ex_med,0.0,0.0,0.0,0.0,0.0
policy_code,1,1,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
acc_now_delinq,0,0,0,0,0
chargeoff_within_12_mths,0.0,0.0,0.0,0.0,0.0
delinq_amnt,0,0,0,0,0
pub_rec_bankruptcies,0.0,0.0,0.0,0.0,0.0
tax_liens,0.0,0.0,0.0,0.0,0.0

In [9]:
df["mths_since_last_delinq"].value_counts()

mths_since_last_delinq
0.0      443
15.0     252
30.0     247
23.0     247
24.0     241
        ...
89.0       1
107.0      1
85.0       1
97.0       1
95.0       1
Name: count, Length: 95, dtype: int64

In [10]:
df1=df.drop("mths_since_last_delinq",axis =1)

In [11]:
df1.head().T

,0,1,2,3,4
id,1077501,1077430,1077175,1076863,1075358
member_id,1296599,1314167,1313524,1277178,1311748
loan_amnt,5000,2500,2400,10000,3000
funded_amnt,5000,2500,2400,10000,3000
funded_amnt_inv,4975.0,2500.0,2400.0,10000.0,3000.0
term,36 months,60 months,36 months,36 months,60 months
int_rate,10.65%,15.27%,15.96%,13.49%,12.69%
installment,162.87,59.83,84.33,339.31,67.79
grade,B,C,C,C,B
sub_grade,B2,C4,C5,C1,B5
emp_title,NaN,Ryder,NaN,AIR RESOURCES BOARD,University Medical Group
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,24000.0,30000.0,12252.0,49200.0,80000.0
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified
issue_d,Dec-11,Dec-11,Dec-11,Dec-11,Dec-11
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Current
pymnt_plan,n,n,n,n,n
url,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...
desc,Borrower added on 12/22/11 > I need to upgra...,Borrower added on 12/22/11 > I plan to use t...,NaN,Borrower added on 12/21/11 > to pay for prop...,Borrower added on 12/21/11 > I plan on combi...
purpose,credit_card,car,small_business,other,other
title,Computer,bike,real estate business,personel,Personal
zip_code,860xx,309xx,606xx,917xx,972xx
addr_state,AZ,GA,IL,CA,OR
dti,27.65,1.0,8.72,20.0,17.94
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Jan-85,Apr-99,Nov-01,Feb-96,Jan-96
inq_last_6mths,1,5,2,1,0
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,3,3,2,10,15
pub_rec,0,0,0,0,0
revol_bal,13648,1687,2956,5598,27783
revol_util,83.70%,9.40%,98.50%,21%,53.90%
total_acc,9,4,10,37,38
initial_list_status,f,f,f,f,f
out_prncp,0.0,0.0,0.0,0.0,524.06
out_prncp_inv,0.0,0.0,0.0,0.0,524.06
total_pymnt,5863.155187,1008.71,3005.666844,12231.89,3513.33
total_pymnt_inv,5833.84,1008.71,3005.67,12231.89,3513.33
total_rec_prncp,5000.0,456.46,2400.0,10000.0,2475.94
total_rec_int,863.16,435.17,605.67,2214.92,1037.39
total_rec_late_fee,0.0,0.0,0.0,16.97,0.0
recoveries,0.0,117.08,0.0,0.0,0.0
collection_recovery_fee,0.0,1.11,0.0,0.0,0.0
last_pymnt_d,Jan-15,Apr-13,Jun-14,Jan-15,May-16
last_pymnt_amnt,171.62,119.66,649.91,357.48,67.79
next_pymnt_d,NaN,NaN,NaN,NaN,Jun-16
last_credit_pull_d,May-16,Sep-13,May-16,Apr-16,May-16
collections_12_mths_ex_med,0.0,0.0,0.0,0.0,0.0
policy_code,1,1,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
acc_now_delinq,0,0,0,0,0
chargeoff_within_12_mths,0.0,0.0,0.0,0.0,0.0
delinq_amnt,0,0,0,0,0
pub_rec_bankruptcies,0.0,0.0,0.0,0.0,0.0
tax_liens,0.0,0.0,0.0,0.0,0.0

In [13]:
df1=df.drop("mths_since_last_record",axis =1)
df1.head().T

,0,1,2,3,4
id,1077501,1077430,1077175,1076863,1075358
member_id,1296599,1314167,1313524,1277178,1311748
loan_amnt,5000,2500,2400,10000,3000
funded_amnt,5000,2500,2400,10000,3000
funded_amnt_inv,4975.0,2500.0,2400.0,10000.0,3000.0
term,36 months,60 months,36 months,36 months,60 months
int_rate,10.65%,15.27%,15.96%,13.49%,12.69%
installment,162.87,59.83,84.33,339.31,67.79
grade,B,C,C,C,B
sub_grade,B2,C4,C5,C1,B5
emp_title,NaN,Ryder,NaN,AIR RESOURCES BOARD,University Medical Group
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,24000.0,30000.0,12252.0,49200.0,80000.0
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified
issue_d,Dec-11,Dec-11,Dec-11,Dec-11,Dec-11
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Current
pymnt_plan,n,n,n,n,n
url,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...
desc,Borrower added on 12/22/11 > I need to upgra...,Borrower added on 12/22/11 > I plan to use t...,NaN,Borrower added on 12/21/11 > to pay for prop...,Borrower added on 12/21/11 > I plan on combi...
purpose,credit_card,car,small_business,other,other
title,Computer,bike,real estate business,personel,Personal
zip_code,860xx,309xx,606xx,917xx,972xx
addr_state,AZ,GA,IL,CA,OR
dti,27.65,1.0,8.72,20.0,17.94
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Jan-85,Apr-99,Nov-01,Feb-96,Jan-96
inq_last_6mths,1,5,2,1,0
mths_since_last_delinq,NaN,NaN,NaN,35.0,38.0
open_acc,3,3,2,10,15
pub_rec,0,0,0,0,0
revol_bal,13648,1687,2956,5598,27783
revol_util,83.70%,9.40%,98.50%,21%,53.90%
total_acc,9,4,10,37,38
initial_list_status,f,f,f,f,f
out_prncp,0.0,0.0,0.0,0.0,524.06
out_prncp_inv,0.0,0.0,0.0,0.0,524.06
total_pymnt,5863.155187,1008.71,3005.666844,12231.89,3513.33
total_pymnt_inv,5833.84,1008.71,3005.67,12231.89,3513.33
total_rec_prncp,5000.0,456.46,2400.0,10000.0,2475.94
total_rec_int,863.16,435.17,605.67,2214.92,1037.39
total_rec_late_fee,0.0,0.0,0.0,16.97,0.0
recoveries,0.0,117.08,0.0,0.0,0.0
collection_recovery_fee,0.0,1.11,0.0,0.0,0.0
last_pymnt_d,Jan-15,Apr-13,Jun-14,Jan-15,May-16
last_pymnt_amnt,171.62,119.66,649.91,357.48,67.79
next_pymnt_d,NaN,NaN,NaN,NaN,Jun-16
last_credit_pull_d,May-16,Sep-13,May-16,Apr-16,May-16
collections_12_mths_ex_med,0.0,0.0,0.0,0.0,0.0
policy_code,1,1,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
acc_now_delinq,0,0,0,0,0
chargeoff_within_12_mths,0.0,0.0,0.0,0.0,0.0
delinq_amnt,0,0,0,0,0
pub_rec_bankruptcies,0.0,0.0,0.0,0.0,0.0
tax_liens,0.0,0.0,0.0,0.0,0.0

In [15]:
df1=df.drop("url",axis =1)

In [17]:
df1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [18]:
df1.head().T

,0,1,2,3,4
id,1077501,1077430,1077175,1076863,1075358
member_id,1296599,1314167,1313524,1277178,1311748
loan_amnt,5000,2500,2400,10000,3000
funded_amnt,5000,2500,2400,10000,3000
funded_amnt_inv,4975.0,2500.0,2400.0,10000.0,3000.0
term,36 months,60 months,36 months,36 months,60 months
int_rate,10.65%,15.27%,15.96%,13.49%,12.69%
installment,162.87,59.83,84.33,339.31,67.79
grade,B,C,C,C,B
sub_grade,B2,C4,C5,C1,B5
emp_title,NaN,Ryder,NaN,AIR RESOURCES BOARD,University Medical Group
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,24000.0,30000.0,12252.0,49200.0,80000.0
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified
issue_d,Dec-11,Dec-11,Dec-11,Dec-11,Dec-11
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Current
pymnt_plan,n,n,n,n,n
desc,Borrower added on 12/22/11 > I need to upgra...,Borrower added on 12/22/11 > I plan to use t...,NaN,Borrower added on 12/21/11 > to pay for prop...,Borrower added on 12/21/11 > I plan on combi...
purpose,credit_card,car,small_business,other,other
title,Computer,bike,real estate business,personel,Personal
zip_code,860xx,309xx,606xx,917xx,972xx
addr_state,AZ,GA,IL,CA,OR
dti,27.65,1.0,8.72,20.0,17.94
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Jan-85,Apr-99,Nov-01,Feb-96,Jan-96
inq_last_6mths,1,5,2,1,0
mths_since_last_delinq,NaN,NaN,NaN,35.0,38.0
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,3,3,2,10,15
pub_rec,0,0,0,0,0
revol_bal,13648,1687,2956,5598,27783
revol_util,83.70%,9.40%,98.50%,21%,53.90%
total_acc,9,4,10,37,38
initial_list_status,f,f,f,f,f
out_prncp,0.0,0.0,0.0,0.0,524.06
out_prncp_inv,0.0,0.0,0.0,0.0,524.06
total_pymnt,5863.155187,1008.71,3005.666844,12231.89,3513.33
total_pymnt_inv,5833.84,1008.71,3005.67,12231.89,3513.33
total_rec_prncp,5000.0,456.46,2400.0,10000.0,2475.94
total_rec_int,863.16,435.17,605.67,2214.92,1037.39
total_rec_late_fee,0.0,0.0,0.0,16.97,0.0
recoveries,0.0,117.08,0.0,0.0,0.0
collection_recovery_fee,0.0,1.11,0.0,0.0,0.0
last_pymnt_d,Jan-15,Apr-13,Jun-14,Jan-15,May-16
last_pymnt_amnt,171.62,119.66,649.91,357.48,67.79
next_pymnt_d,NaN,NaN,NaN,NaN,Jun-16
last_credit_pull_d,May-16,Sep-13,May-16,Apr-16,May-16
collections_12_mths_ex_med,0.0,0.0,0.0,0.0,0.0
policy_code,1,1,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
acc_now_delinq,0,0,0,0,0
chargeoff_within_12_mths,0.0,0.0,0.0,0.0,0.0
delinq_amnt,0,0,0,0,0
pub_rec_bankruptcies,0.0,0.0,0.0,0.0,0.0
tax_liens,0.0,0.0,0.0,0.0,0.0

In [19]:
# using if else statement in dataframe in python categorizing thge data. 
def categorize (reject):
    if df1.['loan_status'] = "Charged Off":
    return df1.['id']
    else if df1.(['loan_status'] = "current") & (['emp_lenght'] =<1) & (['home_ownership'] ='RENT'):
    return df1.['id']
df2['reject'] = df['df1'].apply(lambda reject: categorize(reject))
print (df2)
def categorize (approve):
    if df1.['loan_status'] = "Fully Paid":
    return df1.[id] 
    if df1.(['loan_status'] = "current") & (['emp_lenght'] =<1) & (['home_ownership'] ='OWN'):
    return df1.[id]
df3['approve'] = df['df1']. apply(lambda approve : categorize(approve))
print (df3)

SyntaxError: invalid syntax (3053339282.py, line 1)